<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GovBuster</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>
            <span class="gov">Gov Buster</span> <img src="/Static/capivaralogo.jpg" alt = "Logo" class="logo" />
            <h2>Checar Político:</h2>
            <p>
                Estar em julgamento não torna alguém culpado, tenha o
                bom senso de esperar os resultados jurídicos saírem antes de condenar alguém
            </p>
            <input type="text" id="search-bar" placeholder="Digite o nome completo do candidato...">
            <button id="search-button">Pesquisar</button>

            <div id="results" class="results-container"></div>
            <div class="loader" id="loader"></div>
    </header>

</div>
<script src="/Static/script.js"></script>
</body>
</html>